<footer class="footer">
    <div class="content">
        <div class="footer-row">
            <div class="col">
                <ul class="footer-menu">
                    <li><a href="javascript:;">Продукты</a></li>
                    <li><a href="javascript:;">PMS</a></li>
                    <li><a href="javascript:;">Channel MGR</a></li>
                    <li><a href="javascript:;">Модуль бронирования</a></li>
                    <li><a href="javascript:;">Инструменты</a></li>
                    <li><a href="javascript:;">WuBook</a></li>
                </ul>
                <a class="base-link" href="javascript:;">База знаний</a>
            </div>
            <div class="col">
                <ul class="footer-menu">
                    <li><a href="javascript:;">Bnovo</a></li>
                    <!--<li><a href="javascript:;">Команда</a></li>-->
                    <li><a href="javascript:;">Отзывы</a></li>
                    <li><a href="javascript:;">Партнеры</a></li>
                    <!--<li><a href="javascript:;">Вакансии</a></li>-->
                </ul>
            </div>
            <div class="col">
                <div class="address">
                    <span>Контакты</span>
                    <p>Офис в Санкт-Петербурге
                        Невский проспект, 67, оф. 10</p>
                </div>
                <div class="phone">
                    <span>Телефон</span>
                    <p>8 (800) 500 07 09</p>
                    <p>8 (812) 336 63 42</p>
                </div>
            </div>
            <div class="col">
                <div class="mail">
                    <span>Отдел продаж</span>
                    <p>sales@bnovo.ru</p>
                </div>
                <div class="mail">
                    <span>Поддержка</span>
                    <p>help@bnovo.ru</p>
                </div>
                <div class="mail">
                    <span>Бхгалтерия</span>
                    <p>invoices@bnovo.ru</p>
                </div>
            </div>
            <div class="col">
                <div class="socials">
                    <span>Мы в соц. сетях</span>
                    <a href="javascript:;"><img src="img/facebook.png" alt=""></a>
                    <a href="javascript:;"><img src="img/vk.png" alt=""></a>
                    <a href="javascript:;"><img src="img/youtube.png" alt=""></a>
                    <a href="javascript:;"><img src="img/instagram.png" alt=""></a>
                </div>
                <div class="docs">
                    <span>Правовая информация</span>
                    <a href="javascript:;">Редакции договоров и правила</a>
                    <a href="javascript:;">Защита персональных данных</a>
                    <a href="javascript:;">Безопасность</a>
                </div>
                <div class="subscribe">
                    <span>Подписаться на новости</span>
                    <form action="" class="subscribe-form">
                        <div class="input-block">
                            <input type="email" class="input" placeholder="Ваш E-mail">
                            <input type="submit" class="submit" value="Отправить">
                        </div>
                    </form>
                    <p>Нажимая на кнопку вы даете согласие ООО «Биново» и лицам, действующим по его поручению,
                        на обработку моих персональных данных
                        в соответствии с <a href="javascript:;">Политикой</a></p>
                </div>
            </div>
        </div>

    </div>

</footer>







<!-- Подключение javscript -->
<script src="js/jquery.js"></script>
<script src="js/libs.js"></script>
<script src="js/common.js"></script>
<!-- end -->
</body>
</html>