<header class="header">
    <div class="header-container">
        <div class="content">
            <div class="header-row">

                <div class="menu">
                    <a href="/" class="logo"><img src="img/logo.png" alt=""></a>
                    <ul class="nav">
                        <li><a href="javascript:;">Продукты</a>
                            <ul class="dropdown-1-level">
                                <li><a href="pms.html">PMS</a></li>
                                <li><a href="channel.html">Channel MGR</a></li>
                                <li><a href="module.html">Модуль бронирования</a></li>
                                <li><a href="javascript:;">Инструменты</a>
                                    <ul class="dropdown-2-level">
                                        <li><a href="javascript:;">Google Hotel Ads</a></li>
                                        <!--<li><a href="javascript:;">Bnovo Mail</a></li>
                                        <li><a href="javascript:;">Bnovo Финансы</a></li>
                                        <li><a href="javascript:;">Bnovo Виза</a></li>
                                        <li><a href="javascript:;">Bnovo Site</a></li>
                                        <li><a href="javascript:;">Bnovo Консьерж</a></li>-->
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!--<li><a href="javascript:;">Решения</a>
                            <ul class="dropdown-1-level">
                                <li><a href="javascript:;">Для отелей</a></li>
                                <li><a href="javascript:;">Для хостелов</a></li>
                                <li><a href="javscript:;">Для апартаментов</a></li>
                                <li><a href="javscript:;">Для управляющих
                                    компаний</a></li>
                                <li><a href="javscript:;">Для сезонных объектов</a></li>
                            </ul>
                        </li>-->
                        <li><a href="about.html">О нас</a>
                            <ul class="dropdown-1-level">
                                <li><a href="javascript:;">Наша миссия</a></li>
                                <li><a href="javascript:;">Нас рекомендуют</a></li>
                                <!--<li><a href="javascript:;">Команда</a></li>-->
                                <li><a href="partners.html">Партнеры</a></li>
                                <!--<li><a href="javascript:;">Вакансии</a></li>-->
                                <li><a href="javascript:;">Контакты</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:;">Блог</a>
                            <ul class="dropdown-1-level">
                                <li><a href="blog.html">Новости</a></li>
                                <li><a href="javascript:;">События</a></li>
                                <li><a href="javascript:;">Советы экспертов</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="google.html">Тарифы</a></li>
                        <!--<li><a href="google.html">База знаний</a></li>-->
                    </ul>
                    <div class="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="header-contacts">
                    <a href="javascript:;" class="feedback">Попробовать бесплатно</a>
                    <a href="javascript:;" class="header-phone">8 800 500 07 09</a>
                </div>

            </div>
        </div>
    </div>

</header>
